* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: rgb(15, 15, 15);
	background: rgb(246, 244, 244);
	padding: 1rem;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
	padding: 1rem;
	font-size: 1.5rem;
	overflow-wrap: break-word;
}

.icon {
	font-size: 3rem;
}

.transactions-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 1rem;
}

.box {
	padding: 1rem;
	border-radius: 10px;
	width: 100%;
}

.income-box {
	background: linear-gradient(36deg, rgba(181, 215, 71, 1) 0%, rgba(154, 217, 162, 1) 100%);
}

.expense-box {
	background: linear-gradient(36deg, rgba(235, 115, 115, 1) 0%, rgba(223, 161, 93, 1) 100%);
}

.box-header {
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.box-title {
	text-align: center;
	padding-bottom: 0.5rem;
	font-size: 1.5rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.input {
	width: 40%;
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	text-align: center;
}

.add-btn {
	padding: 0.5rem;
	color: black;
	background: linear-gradient(36deg, rgb(161, 175, 176) 0%, rgb(222, 223, 227) 100%);
	border: 2px solid rgb(106, 101, 101);
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(106, 101, 101);
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}

.list {
	padding: 0.8rem;
	border-radius: 10px;
	background-color: #fff;
	margin-bottom: 1rem;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 0;
	font-size: 1rem;
	text-decoration: none;
}

.list-item-text {
	width: 30%;
	overflow-wrap: break-word;
	padding: 0.2rem 0.3rem;
}

.li-btns {
	display: flex;
	justify-content: flex-end;
	gap: 0.2rem;
	width: 40%;
}

.li-btn {
	padding: 0.3rem;
	font-size: 0.7rem;
	background: none;
	border-radius: 5px;
	color: black;
	border: 1px solid rgb(106, 101, 101);
	box-shadow: 0 0 3px rgb(106, 101, 101);
	cursor: pointer;
}

.sum {
	background-color: #fff;
	padding: 0.5rem;
	border-radius: 10px;
	overflow-wrap: break-word;
}
.panel-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.edit-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-height: 30%;
	padding: 2rem;
	border-radius: 10px;
	background-color: rgb(220, 217, 217);
}

.edit-panel-input {
	width: 80%;
	padding: 0.3rem;
	margin: 0.5rem 0;
	border-radius: 10px;
	border: none;
}

.panel-btn {
	width: 6rem;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 5px;
	background-color: black;
	color: white;
	border: none;
}

.panel-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
/* Media queries */
@media (min-width: 600px) {
	.header {
		font-size: 2.5rem;
		gap: 1.5rem;
	}

	.icon {
		font-size: 5rem;
	}

	.transactions-container {
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}

	.box {
		width: 45%;
		padding: 0.8rem;
	}

	.box-title {
		font-size: 1.8rem;
	}

	.inputs {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
	}

	.add-btn {
		margin-left: 1.5rem;
	}
	.list-item {
		font-size: 1rem;
	}

	.lin-btn {
		padding: 0.6rem 1rem;
	}
	.sum {
		font-size: 1rem;
	}
}

@media (min-width: 768px) {
	.header {
		font-size: 3rem;
		gap: 2rem;
	}

	.icon {
		font-size: 6rem;
	}

	.transactions-container {
		gap: 3rem;
	}

	.box {
		padding: 2rem;
	}

	.box-title {
		font-size: 2rem;
	}

	.add-btn {
		margin-left: 2rem;
	}

	.edit-panel {
		width: 50%;
		padding: 3rem;
	}
	.panel-btn {
		transition: color 0.3s, transform 0.3s;
	}

	.panel-btn:hover {
		color: black;
		background-color: white;
		transform: scale(0.9);
	}

	.list-item {
		font-size: 1.2rem;
	}

	.li-btn {
		padding: 0.4rem 0.6rem;
	}

	.sum {
		font-size: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.header {
		font-size: 3.5rem;
		gap: 2.5rem;
	}

	.icon {
		font-size: 7rem;
	}

	.transactions-container {
		gap: 4rem;
	}

	.box {
		padding: 2.5rem;
	}

	.box-title {
		text-align: left;
		font-size: 2.2rem;
	}

	.add-btn {
		margin-left: 1rem;
	}

	.li-btns {
		gap: 0.8rem;
	}
	.li-btn {
		padding: 0.7rem 1rem;
	}
	.edit-panel {
		width: 40%;
		padding: 3.5rem;
	}
}
